<!DOCTYPE html>
<html>
  <head>
    <title> WEBSITE NAME </title>
    <script src="static/javascript/kairos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Are You A Hacker?</title>

    <style >
      p1 {font-weight: bold;
          font-size: 1.5em;
      }
    </style>
  </head>
  <body  style="background-color:#f2f2f2;">

  <div class="container">
    <h1 style = "text-align: center; font-size:7.0em; " class="display-1"> <kbd>I</kbd>f <kbd>Y</kbd>o<kbd>u</kbd> W<kbd>e</kbd>re <kbd>A</kbd> Ha<kbd>c</kbd>k<kbd>e</kbd>r<kbd>!</kbd></h1>



        <!--div id=percentHispanic>ayy</div>
        <p id="attributes"></p>
        <div id=percentBlack>ayy2</div>
        <div id=percentAsian>ayy3</div>
        <div id=percentWhite>ayy4</div>
      -->
          <div class="row">
            <div class = "col-md-5" >
              <video id="video" width="640" height="480" autoplay </video>
            </div>
            <div class = "col-md-2" ></div>

          <div class = "col-md-5" >
          <canvas id="canvas" width="640" height="480"  ></canvas>
        </div>
        </div>

        <button id="snap" class="btn btn-primary">Snap Photo</button>

          <div id="hacker" class="row">

        </div>
</div>



  </body>


  <script>
    var kairos = new Kairos("cd7690fd","32df39bf4f4e7d9882a9e6e9154ceaca");

      var canvas = document.getElementById('canvas');
      var context = canvas.getContext('2d');
      var video = document.getElementById('video');

      // Get access to the camera!
      if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
              video.src = window.URL.createObjectURL(stream);
              video.play();

          });
      }
      // Trigger photo take
      document.getElementById("snap").addEventListener("click", function() {
      console.log(context);
      $('#hacker').empty();
      context.drawImage(video, 0, 0, 640, 480);
      var image = canvas.toDataURL();
      //console.log(image);












      $.getJSON("static/hackers6.json", function(json) {
          //var obj = JSON.stringify(json);
          jsonDataMAIN = JSON.stringify(json["hackers"]);
          jsonDataMAIN = JSON.parse(jsonDataMAIN);
          jsonData = JSON.parse(JSON.stringify(Object.keys(json["hackers"]))); // this will show the info it in firebug console
          console.log(jsonData);
          console.log(jsonDataMAIN);


            var list = [];
            var objectList = [];
            var dict = {};


            function myDetectCallback(response)
            {

              var obj1 =JSON.parse(response.responseText);
              objectList.push(obj1);
              var obj2 = obj1["images"][0]["transaction"]["confidence"];



              dict[obj2] = obj1["images"][0]["transaction"]["subject_id"];
              console.log(obj1["images"][0]["transaction"]["subject_id"]);

              list.push(obj2);
              if (list.length >= 22) {
                listStuff(list, dict);

              }

            }
            function listStuff(numArray, dict) {

              numArray = numArray.sort(function (a, b) {  return a - b;  });

              numArray = numArray.sort((a, b) => a - b);
              numArray = numArray.reverse();
              fiveNumArray = []

              var fiveHackers = [];
              for (i = 0; i <= 4; i++) {
                fiveNumArray.push(numArray[i]);
                fiveHackers.push(dict[numArray[i]]);

              }
              console.log(fiveHackers);

              hope(fiveHackers, fiveNumArray);



            }




            //console.log(jsonData[key]);
            for (key in jsonData){

            kairos.verify(image, "a-gallery", jsonData[key], myDetectCallback);
            //function(image, gallery_id, subject_id, callback, options)
            }




            function hope(fiveHackers, fiveNumArray) {
                      for (i=0; i<fiveHackers.length; i++) {
                        console.log("debug:" + fiveHackers[i]);
                        var hacker_picture = document.createElement("img");
                        hacker_picture.setAttribute("id","hacker");
                        hacker_picture.setAttribute("background-color", "red");
                        var percent = document.createElement("h1");
                        percent.innerHTML = (fiveNumArray[i]*100) + "%";

                        var description = document.createElement("p1");
                        hacker_picture.src = jsonDataMAIN[fiveHackers[i]]["pic"];
                        description.innerHTML = jsonDataMAIN[fiveHackers[i]]["description"];
                        var picture_div = document.createElement("div");
                        picture_div.appendChild(hacker_picture);
                        //picture_div.setAttribute("class","col-md-6");
                        var description_div = document.createElement("div");
                        description_div.appendChild(description);
                        //description_div.setAttribute("class","col-md-6");

                        var holder = document.createElement("div");

                        holder.setAttribute("class","col-md-6");
                        holder.setAttribute("background","none");

                        holder.appendChild(percent);

                        holder.appendChild(picture_div);
                        holder.appendChild(description_div);
                        document.getElementById("hacker").appendChild(holder);

                      }

              //console.log(list[name]);

            //kairos.detect(image, jsonData[key], "a-gallery", callback2);







            //console.log(document.getElementById("row"));

            //console.log(jsonDataMAIN[jsonData[key]]["description"]);
          }

        });
      });


      //kairos.detect(image, myDetectCallback, options);






      //console.log(kairos);
      // (1) set up your callback method



  </script>

<html>
